<html>
      <header>
   <title>Classical music heaven</title>
</header>
 <body id = "background">
    
  <h1>Classical music heaven</h1>
  <div>

   </div>
  <h2>Choose your favorite artist</h2>
    
  <div id = "divSmall">

   </div>

            
    
    <div class="vertical-menu">
         <a href="https://www.youtube.com/watch?v=W-fFHeTX70Q" id = "beethoven">Beethoven</a>
         <a href = "https://www.youtube.com/watch?v=6JQm5aSjX6g" id = "bach">Bach</a>
         <a href = "https://www.youtube.com/watch?v=Rb0UmrCXxVA" id = "mozard">Mozart</a>
         <a href = "https://www.youtube.com/watch?v=a5lYyMNxR4Q" id = "puccini">Puccini</a>
         <a href = "https://www.youtube.com/watch?v=O6NRLYUThrY" id = "vivaldi">Vivaldi</a>
      </div>
    
    
      <div>
            <iframe src="https://www.youtube.com/embed/fDsAdl8nJm0?start=4&autoplay=1" allow="autoplay" width="0" height="0" frameborder="0"></iframe>
      </div>
      <div id = "space">
     
         </div>
      
 </body>
  

  
   
 
   
  

  
</html>


<router-outlet></router-outlet>
